MLMODULE/sensor-module/data
data.db
MLMODULE/sensor-module/__pycache__
.coverage
MLMODULE/sensor-module/assets

report.html
venv
.vscode
*.zip
.idea
.env

CDMODULE/config.yaml
SDMODULE/config.yaml
MLMODULE/config.yaml

__pycache__
ML*.csv
*.csv
*.gif
.venv
DTInterface/db.sqlite3
SDMODULE/uploads/

assets/
SDMODULE/src/test_async.py
SDMODULE/src/config.yaml
CDMODULE/src/config.yaml
MLMODULE/src/config.yaml