diagnostic_modul/sensor-module/data
data.db
diagnostic_modul/sensor-module/__pycache__
.coverage
diagnostic_modul/sensor-module/assets
report.html
venv
.vscode
*.zip
.idea
.env
*.log

__pycache__
ML*.csv
*.csv
*.png
*.gif
.venv